openapi: 3.2.0
info:
  title: Adobe Creative Cloud Elements Libraries API
  description: The Adobe Creative Cloud Libraries API provides programmatic access to Creative Cloud Libraries, enabling applications to list, create, and manage libraries and their elements (colors, character styles, brushes, graphics, patterns, and videos) for use across Adobe Creative applications including Premiere Pro, Photoshop, Illustrator, and After Effects. Authentication uses OAuth 2.0.
  version: '1'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/support/
  termsOfService: https://www.adobe.com/legal/terms.html
  license:
    name: Adobe Terms of Use
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://cc-libraries.adobe.io
  description: Adobe Creative Cloud Libraries API
security:
- oauth2: []
tags:
- name: Libraries
  description: Manage Creative Cloud Libraries
paths:
  /api/v1/libraries:
    get:
      operationId: getLibraries
      summary: Adobe Premiere List Creative Cloud Libraries
      description: Retrieve a paginated list of Creative Cloud Libraries accessible to the authenticated user.
      tags:
      - Libraries
      parameters:
      - name: orderBy
        in: query
        description: Sorting option for the response list.
        schema:
          type: string
          default: -modified_date
      - name: start
        in: query
        description: The first result to include for a paged response, 0-based.
        schema:
          type: string
          default: '0'
      - name: limit
        in: query
        description: The maximum number of results to return.
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of Creative Cloud Libraries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryList'
        '401':
          description: Unauthorized - invalid or missing access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createLibrary
      summary: Adobe Premiere Create a Creative Cloud Library
      description: Create a new Creative Cloud Library for the authenticated user.
      tags:
      - Libraries
      requestBody:
        required: true
        description: Library creation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryInput'
      responses:
        '201':
          description: Library created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Library'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/libraries/{libraryId}:
    get:
      operationId: getLibrary
      summary: Adobe Premiere Get a Creative Cloud Library
      description: Retrieve details of a specific Creative Cloud Library by ID.
      tags:
      - Libraries
      parameters:
      - name: libraryId
        in: path
        required: true
        description: Unique identifier of the library.
        schema:
          type: string
      responses:
        '200':
          description: Library details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Library'
        '404':
          description: Library not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateLibrary
      summary: Adobe Premiere Update a Creative Cloud Library
      description: Update metadata of a Creative Cloud Library.
      tags:
      - Libraries
      parameters:
      - name: libraryId
        in: path
        required: true
        description: Unique identifier of the library.
        schema:
          type: string
      requestBody:
        required: true
        description: Library update request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryInput'
      responses:
        '200':
          description: Library updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Library'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteLibrary
      summary: Adobe Premiere Delete a Creative Cloud Library
      description: Delete a Creative Cloud Library.
      tags:
      - Libraries
      parameters:
      - name: libraryId
        in: path
        required: true
        description: Unique identifier of the library.
        schema:
          type: string
      responses:
        '204':
          description: Library deleted successfully.
        '404':
          description: Library not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LibraryList:
      type: object
      description: Paginated list of Creative Cloud Libraries.
      properties:
        libraries:
          type: array
          description: Array of library objects.
          items:
            $ref: '#/components/schemas/Library'
        total_count:
          type: integer
          description: Total number of libraries available.
          example: 15
        start:
          type: integer
          description: Starting index of the current page.
          example: 0
        limit:
          type: integer
          description: Maximum results per page.
          example: 20
    Library:
      type: object
      description: A Creative Cloud Library containing design elements.
      properties:
        id:
          type: string
          description: Unique identifier of the library.
          example: lib-abc123
        name:
          type: string
          description: Human-readable name of the library.
          example: Premiere Pro Brand Assets
        created_date:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the library was created.
          example: '2025-03-15T14:30:00Z'
        modified_date:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the library was last modified.
          example: '2025-03-15T14:30:00Z'
        total_elements:
          type: integer
          description: Total number of elements in the library.
          example: 42
        links:
          $ref: '#/components/schemas/Links'
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        error_code:
          type: string
          description: Machine-readable error code.
          example: NOT_FOUND
        message:
          type: string
          description: Human-readable error description.
          example: The requested library was not found.
    Links:
      type: object
      description: Hypermedia links for a resource.
      properties:
        self:
          type: string
          format: uri
          description: URL of the resource itself.
          example: https://cc-libraries.adobe.io/api/v1/libraries/lib-abc123
    LibraryInput:
      type: object
      description: Request body for creating or updating a library.
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the library.
          example: New Video Assets Library
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://ims-na1.adobelogin.com/ims/authorize/v2
          tokenUrl: https://ims-na1.adobelogin.com/ims/token/v3
          scopes:
            creative_sdk: Access Creative Cloud Libraries
            openid: OpenID Connect
            profile: User profile access
externalDocs:
  description: Adobe Creative Cloud Libraries API Documentation
  url: https://developer.adobe.com/creative-cloud-libraries/docs/
