openapi: 3.2.0
info:
  version: '0.1'
  title: Adobe CC Libraries APIs Test Library Service API
  description: App-facing APIs for Adobe CC Libraries.
servers:
- url: https://cc-libraries.adobe.io/
tags:
- name: Library Service
  description: App-facing APIs for Adobe CC Libraries.
paths:
  /api/v1/libraries/{libraryId}:
    head:
      tags:
      - Library Service
      summary: Retrieve a specific library
      description: ''
      operationId: headLibrary
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/libraries/{libraryId}/archive:
    post:
      tags:
      - Library Service
      summary: Restore Archived Elements
      description: ''
      operationId: unArchiveLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: invocation_mode
        in: path
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponsePayload'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAcceptedResponse'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLibraryElementsPayload'
    delete:
      tags:
      - Library Service
      summary: Permanently delete archived elements
      description: ''
      operationId: deleteLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveDeleteElementListPayload'
  /api/v1/libraries/{libraryId}/archive/{elementId}:
    delete:
      tags:
      - Library Service
      summary: Permanently delete an archived element
      description: ''
      operationId: deleteLibraryElement
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: elementId
        in: path
        description: The ID of the requested element.
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/libraries/{libraryId}/elements:
    delete:
      tags:
      - Library Service
      summary: Move a library's elements to the archive
      description: ''
      operationId: archiveLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveDeleteElementListPayload'
  /api/v1/libraries/{libraryId}/elements/metadata:
    put:
      tags:
      - Library Service
      summary: Update a specific library's element
      description: 'Update a specific library''s element.

        This API is intended solely for top-level element attribute updates.

        Please look to `PUT /api/v1/libraries/{libraryId}/elements/{elementId}/representations` for updates to element assets and representations.'
      operationId: updateLibraryElements
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElementListPayload'
  /api/v1/libraries/{libraryId}/elements/{elementId}/representations:
    put:
      tags:
      - Library Service
      summary: Add/Update/Delete element representations in existing library
      description: 'Add/Update/Delete element representations in existing library.

        The `representations` array input includes all representations to be created, retained, or updated.


        **Special Cases**

        - `Create`: New representations can be submitted alongside the existing renditions, but with no `id` field.

        - `Retain`: Existing representations with no changes should be submitted exactly as returned by the element.

        - `Update`: Changes to representations must include the accurate id for the exising entry and should include all fields, updated and not updated.

        - `Delete`: Element renditions missing from the payload will be removed from the element.


        **Notes**

        - Representations referencing assets uploaded to the library (primary and secondary) are immutable. To update an uploaded asset representation, submit a new representation with no id field. This will effectively delete and replace it.

        - The `representations` array resulting from this call will contain different `id` values that the existing element and the payload submission.'
      operationId: putLibraryElementRepresentations
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: elementId
        in: path
        description: The ID of the requested element.
        required: true
        schema:
          type: string
      - name: invocation_mode
        in: path
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: 'Precondition Failed: The server does not meet one of the preconditions on the request header fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: 'Payload Too Large: The request is larger than the server is willing or able to process.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: 'Unsupported Media Type: The request entity has a media type which is not supported.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Too Many Requests: The user has sent too many requests in a given amount of time.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLibraryElementsPayload'
  /api/v1/libraries/{libraryId}/metadata:
    put:
      tags:
      - Library Service
      summary: Update a specific library
      description: ''
      operationId: updateLibrary
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncMonitorResponseDTO'
        '204':
          description: No Content
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLibraryPayload'
  /api/v1/libraries/{libraryId}/representations/content:
    post:
      tags:
      - Library Service
      summary: Upload an asset to a library
      description: 'Upload a small file asset to an existing library.

        File asset size must be <5mb to use this API call.

        After uploading a file asset with this API, you can use the response in the `representations` array in the request body of a Create New Element API call.'
      operationId: postLibraryComponent
      parameters:
      - name: libraryId
        in: path
        description: "The ID of the requested library. \nFor private libraries, the `library_urn` should be used. (ex: urn:aaid:sc:US:1c2327c6-ca3a-8f74-11ac-d5bca13a8fc7) \nFor public libraries, the public library `id` should be used. (ex: 1UTOX1PQ9YWOTFIPUEQUV0Z2XFTFFF)"
        required: true
        schema:
          type: string
      - name: invocation_mode
        in: path
        description: "Specifies the processing mode to invoke this request process with. \n\n**Possible Values** \n- `sync`: API call is processed synchronously. The response is delivered when processing is complete, unless there's a timeout. \n- `async`: The async monitor response is immediately returned and request processing occurs asynchronously. The caller is responsible for polling that endpoint until completion. \n- `sync,async`: (Default) Synchronous processing of the request is attempted. When the processing extends past 5000ms, the async monitor response is returned. The monitor URL should be polled until the request is complete."
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryElementsInfo'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'Not Found: The specified resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '406':
          description: 'Not Acceptable: The requested format is not accepted for this method.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '412':
          description: 'Precondition Failed: The server does not meet one of the preconditions on the request header fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: 'Payload Too Large: The request is larger than the server is willing or able to process.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: 'Unsupported Media Type: The request entity has a media type which is not supported.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Too Many Requests: The user has sent too many requests in a given amount of time.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Representation-Data:
                  type: string
                  description: "A JSON object specifying the type of the uploaded asset. \n\nHere is an example, where the uploaded asset file is a jpg image: \n`{ \"type\": \"image/jpg\" }`"
                Representation-Content:
                  type: string
                  description: The file to upload. Must be less than 5mb.
                  format: binary
  /api/v1/search:
    post:
      tags:
      - Library Service
      summary: Search for Libraries and Library Elements
      description: ''
      operationId: search
      parameters:
      - name: authorization
        in: header
        description: An access token issued by Adobe IMS. In the header, the access token must be preceded by `Bearer `.
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key assigned to your API client account when you signed up.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: A unique request identifier that you define. Used by Adobe Support to trace the request in logs. This header is automatically generated by the server and returned in the response if you do not set it explicitly.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/USSSearchResponse'
        '400':
          description: 'Bad Request: The request is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized: Authorization Token is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'Forbidden: API Key is not accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal Server Error: We had a problem with our server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 'Service Unavailable: We are temporarily offline for maintenance, please try again later.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/USSSearchPayload'
components:
  schemas:
    DbLibraryElementData:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        storage_used:
          type: integer
          format: int64
          description: Storage used
        created_date:
          type: integer
          format: int64
        modified_date:
          type: integer
          format: int64
        type:
          type: string
        source:
          type: string
        element_type:
          type: array
          items:
            type: string
        thumbnail:
          readOnly: true
          $ref: '#/components/schemas/DbLibraryElementRenditionData'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryGroup'
        representations:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryElementRepresentationData'
        details:
          $ref: '#/components/schemas/DbLibraryElementDetailData'
        assetSubType:
          type: string
        _fc:
          type: boolean
        sourceRef:
          type: string
        _links:
          $ref: '#/components/schemas/MelvilleHypermediaLibraryElementLinks'
        parent_id:
          type: string
        manifest_etag:
          type: string
    ClientDeviceInfoPayload:
      type: object
      properties:
        deviceId:
          type: string
        device:
          type: string
        app:
          type: string
    LinksSpec:
      type: object
      properties:
        next:
          description: Next Link
          $ref: '#/components/schemas/JsonNode'
        page:
          description: Page Link
          $ref: '#/components/schemas/JsonNode'
    PageSpec:
      type: object
      properties:
        orderBy:
          type: string
          description: List orderby
        start:
          type: string
          description: List start position
        next:
          type: string
          description: List next position
        count:
          type: integer
          format: int32
          description: List page size
        type:
          type: string
          description: List page type
        property:
          type: string
          description: List page property
    DbLibraryGroup:
      type: object
      required:
      - name
      - order
      properties:
        id:
          type: string
          description: Group id.
        name:
          type: string
          description: Group name.
        classifier:
          type: string
          description: Group namespace. Currently defaults to $default. The default should be used unless there's a specific case to provide a custom classifiers. Non-default classifiers are presently not supported in any applications.
        order:
          type: string
          description: Lexicographical string for setting the group's place in the group list, or for an element's place within a group.The client is responsible for providing and sorting using these strings.
        created_date:
          type: integer
          format: int64
          description: Group created date
        modified_date:
          type: integer
          format: int64
          description: Group modified date
        parent_id:
          type: string
          description: Defines a relationship between nested groups.  If provided, and the specified parent group exists, this group will be the "child" of the parent group. If there is no group in the library that matches the supplied parentId the group will still be created or updated with an empty parentId.
    MelvilleHypermediaLibraryLinks:
      type: object
      properties:
        http://ns.adobe.com/melville/rel/primary:
          description: Primary Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/path:
          description: Path Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/id:
          description: ID Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/policy:
          description: Policy Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/check:
          description: Check Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/effective:
          description: Effective Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/describedBy:
          description: Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/metadata/application:
          description: Application Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/metadata/repository:
          description: Repository Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/rendition:
          description: Rendition Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/version-history:
          description: Version History Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/manifest:
          description: Manifest Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/component:
          description: Component Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/elements:
          description: Elements Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/element:
          description: Element Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/groups:
          description: Groups Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/representations:
          description: Representations Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/raw:
          description: Raw Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        page:
          description: Page Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        next:
          description: Next Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
    ArchiveDeleteElementListPayload:
      type: object
      properties:
        elements:
          type: array
          readOnly: true
          items:
            type: string
    MelvilleHypermediaRepresentationLinks:
      type: object
      properties:
        http://ns.adobe.com/melville/rel/primary:
          description: Primary Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/path:
          description: Path Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/id:
          description: ID Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/policy:
          description: Policy Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/check:
          description: Check Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/effective:
          description: Effective Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/describedBy:
          description: Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/metadata/application:
          description: Application Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/metadata/repository:
          description: Repository Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/rendition:
          description: Rendition Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/version-history:
          description: Version History Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/manifest:
          description: Manifest Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/component:
          description: Component Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/elements:
          description: Elements Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/element:
          description: Element Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/groups:
          description: Groups Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/representations:
          description: Representations Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/raw:
          description: Raw Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        page:
          description: Page Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        next:
          description: Next Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
    DbLibraryElementDetailData:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        created:
          $ref: '#/components/schemas/DbLibraryElementDetailsCreatedModifiedData'
        lastModified:
          $ref: '#/components/schemas/DbLibraryElementDetailsCreatedModifiedData'
        description:
          type: string
    ElementListPayloadElement:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          example: b8038ad3-c41e-4f9e-a7c3-96bb475ff8ef
          description: Id of element
        name:
          type: string
          example: new element
          description: Name of element
        description:
          type: string
          example: This is my favorite element.
          description: Description of element. If this is set to an empty string, the current description will be deleted.
    AsyncAcceptedResponse:
      type: object
      properties:
        id:
          type: string
        href:
          type: string
        retryAfter:
          type: integer
          format: int64
    Link:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
        name:
          type: string
        type:
          type: string
        deprecation:
          type: string
        mode:
          type: string
        additionalFields:
          type: object
          additionalProperties:
            type: object
            properties: {}
    LibraryElementsInfo:
      type: object
      properties:
        total_count:
          type: integer
          format: int32
          description: Total results for query
        elements:
          type: array
          description: Elements list
          items:
            $ref: '#/components/schemas/DbLibraryElementData'
        _page:
          description: List Page
          $ref: '#/components/schemas/PageSpec'
        _links:
          description: List Links
          $ref: '#/components/schemas/LinksSpec'
    USSSearchResponse:
      type: object
      properties:
        total_items:
          type: integer
          format: int32
          readOnly: true
        libraries:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryInfo'
        elements:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryElementData'
    USSSearchPayload:
      type: object
      properties:
        asset_type:
          type: array
          description: '`library` and/or `element`. Leaving this out of the request will get both by default, though element-only parameters like `library_id` or `archived` will isolate the result to elements.'
          uniqueItems: true
          items:
            type: string
        library_id:
          type: string
          description: 'Library ID (URN) to constrain an elements search to a single library (like "urn:aaid:sc:us:2f3268e9-039d-460f-8b07-8854f7677645"). Invalid if submitted with `"asset_type": ["library"]`.'
        group:
          type: string
          description: 'Isolate element results to a single group. Invalid if submitted with `"asset_type": ["library"]`.'
        name:
          type: string
          description: A name string to identify by library/asset name. Requires an exact match.
        query_string:
          type: string
          description: A general query string to search for libraries/assets. Includes partial matches.
        created_date:
          type: array
          description: Start & end dates in epoch time (ms since epoch).
          items:
            type: string
            format: date-time
        modified_date:
          type: array
          description: Start & end dates in epoch time (ms since epoch).
          items:
            type: string
            format: date-time
        type:
          type: array
          description: 'One or more types for elements, invalid if submitted with `"asset_type": ["library"]`.'
          items:
            type: string
        archived:
          type: boolean
          description: 'Search specifically for archived elements (boolean `true`/`false` to isolate results to archived or non-archived). Invalid if submitted with `"asset_type": ["library"]`.'
        orderBy:
          type: string
          description: defaults to `-modified_date`, also accepts `name`. Use a minus sign prefix to note descending.
        start:
          type: string
          description: String value. For libraries lists, the requirement to integrate bookmarked responses requires us to use the field in a clever fashion beyond a simple positive integer.
        limit:
          type: integer
          format: int32
          description: Positive integer, defines the number of results to return for a paged response. Defaults to `10`. Max limit for library searches is `10`, max limit for element searches is `100`.
        owner:
          type: string
          description: '`private` (default), `incoming`, `outgoing`, `public`, or `all`. `all` does not include `public` until bookmarks are integrated into the USS search results.'
        selector:
          type: string
          description: Customize response for larger/smaller data sets. (`default` [base response], `rendition_grid`, `collaboration`, `details`, `full`).
        has_stock_content:
          type: boolean
          description: Search for libraries that have stock content, or elements within a library that have stock content (boolean `true`/`false` to isolate results to stock content or all content).
        stock_content_id:
          type: string
          description: 'Search for elements with a specific Stock Content ID. Invalid if submitted with `"asset_type": ["library"]` or `"has_stock_content": false`.'
        spark_brand_urn:
          type: string
          description: Search for elements with a specific Spark tracking data brand_urn.
        spark_creator_id:
          type: string
          description: Search for elements with a specific Spark tracking data creator_id.
        spark_content_summary:
          type: string
          description: Search for elements with a partial match within the Spark tracking data content_summary.
        source_ref:
          type: string
          description: Search for elements with a specific sourceRef.
    ElementListPayload:
      type: object
      required:
      - elements
      properties:
        elements:
          type: array
          description: Array of elements to be copied to the targeted library
          readOnly: true
          items:
            $ref: '#/components/schemas/ElementListPayloadElement'
        id:
          type: string
          description: URN of the source library, not required if copying elements within the same library
          readOnly: true
        elementIds:
          type: array
          items:
            type: string
    DbLibraryDetail:
      type: object
      properties:
        _fc:
          type: boolean
        etag:
          type: string
        state:
          type: string
        manifest_format_version:
          type: string
        num_elements:
          type: integer
          format: int32
        num_archived_elements:
          type: integer
          format: int32
        types:
          type: array
          items:
            type: string
        element_type_counts:
          type: object
          additionalProperties:
            type: integer
            format: int32
    DbLibraryInfo:
      type: object
      properties:
        id:
          type: string
          description: Library Id
        toolkit_id:
          type: string
          description: Library toolkit id
        name:
          type: string
          description: Library name
        storage_used:
          type: integer
          format: int64
          description: Storage used
        document_id:
          type: string
          description: Document ID
        document_type:
          type: string
          description: Document Type
        creator:
          type: string
          description: Library creator
        ownership:
          type: string
          description: Library ownership type
          enum:
          - PRIVATE
          - INCOMING
          - OUTGOING
          - DISCOVERY
          - PUBLIC
        created_date:
          type: integer
          format: int64
          description: Library created date
        modified_date:
          type: integer
          format: int64
          description: Library modified date
        version:
          type: string
          description: Library version
        region:
          type: string
          description: Library region
        library_urn:
          type: string
          description: Library resource_urn
        manifest_urn:
          type: string
          description: Library manifest_urn
        storage_path:
          type: string
        elements_count:
          type: integer
          format: int32
        removed_elements_count:
          type: integer
          format: int32
        bookmark:
          description: Public or Shared Library Bookmark, not populated via the un-authenticated `/public/libraries` API.
          $ref: '#/components/schemas/DbLibraryBookmark'
        rendition_grid:
          description: Library renditions
          $ref: '#/components/schemas/DbLibraryRenditionData'
        collaboration:
          description: Library collaboration
          $ref: '#/components/schemas/DbLibraryCollaborationData'
        asset_acl:
          description: Asset ACL
          $ref: '#/components/schemas/EffectiveACL'
        details:
          description: Library details
          $ref: '#/components/schemas/DbLibraryDetail'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryGroup'
        _links:
          $ref: '#/components/schemas/MelvilleHypermediaLibraryLinks'
        searchable:
          type: boolean
        rawName:
          type: string
        renditionGridMissing:
          type: boolean
        assetSubType:
          type: string
        _fc:
          type: boolean
        is_searchable:
          type: boolean
          description: Library is searchable
        manifest_etag:
          type: string
    MelvilleHypermediaLink:
      type: object
      properties:
        href:
          type: string
        rel:
          type: string
        type:
          type: string
        templated:
          type: boolean
    DbLibraryBookmark:
      type: object
      required:
      - id
      properties:
        type:
          type: string
          description: '`public`, or `collab`, with separate required fields as identified below'
          enum:
          - PUBLIC
          - COLLAB
        id:
          type: string
          description: Required, must match the library's `id`. Submissions with an existing ID are discarded.
        url:
          type: string
          description: Required if `type` is `public`
        urn:
          type: string
          description: Required if `type` is `collab`
        role:
          type: string
          description: '''viewer''/''editor'' role of user''s sharing status on library.'
        can_share:
          type: boolean
          description: Sharing permission for user's sharing status on library
        can_comment:
          type: boolean
          description: Commenting permission for user's sharing status on library
        created:
          type: integer
          format: int64
          description: This parameter will be ignored, populated with the timestamp upon creation and immutable after
        _fc:
          type: boolean
    MelvilleHypermediaLibraryElementLinks:
      type: object
      properties:
        http://ns.adobe.com/melville/rel/primary:
          description: Primary Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/path:
          description: Path Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/id:
          description: ID Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/policy:
          description: Policy Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/check:
          description: Check Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/ac/effective:
          description: Effective Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/describedBy:
          description: Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/metadata/application:
          description: Application Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/metadata/repository:
          description: Repository Metadata Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/rendition:
          description: Rendition Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/version-history:
          description: Version History Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/manifest:
          description: Manifest Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/component:
          description: Component Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/elements:
          description: Elements Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/element:
          description: Element Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/groups:
          description: Groups Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/representations:
          description: Representations Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        http://ns.adobe.com/melville/rel/raw:
          description: Raw Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        page:
          description: Page Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
        next:
          description: Next Link
          $ref: '#/components/schemas/MelvilleHypermediaLink'
    DbLibraryRenditionData:
      type: object
      properties:
        _fc:
          type: boolean
        main:
          $ref: '#/components/schemas/DbLibraryElementRenditionData'
        tiles:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryElementRenditionData'
    ErrorResponse:
      type: object
      properties:
        reason:
          type: string
        message:
          type: string
      xml:
        name: error
    DbLibraryElementRenditionData:
      type: object
      properties:
        type:
          type: string
        rendition:
          type: object
          properties: {}
    UpdateLibraryPayload:
      type: object
      properties:
        name:
          type: string
    DbLibraryCollaborationData:
      type: object
      properties:
        rootURN:
          type: string
        ownerId:
          type: string
        state:
          type: string
        collaborators:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryCollaboratorData'
        invitations:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryInvitationData'
        public:
          type: boolean
        _fc:
          type: boolean
        directCollaborators:
          type: array
          items:
            $ref: '#/components/schemas/DbLibraryCollaboratorData'
        hasAdmin:
          type: boolean
          readOnly: true
    AsyncResponsePayload:
      type: object
      properties:
        status:
          type: string
          enum:
          - OK
          - CREATED
          - ACCEPTED
          - NO_CONTENT
          - MOVED_PERMANENTLY
          - SEE_OTHER
          - NOT_MODIFIED
          - TEMPORARY_REDIRECT
          - BAD_REQUEST
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - NOT_ACCEPTABLE
          - CONFLICT
          - GONE
          - PRECONDITION_FAILED
          - UNSUPPORTED_MEDIA_TYPE
          - INTERNAL_SERVER_ERROR
          - SERVICE_UNAVAILABLE
        message:
          type: string
    DbLibraryElementDetailsCreatedModifiedData:
      type: object
      properties:
        userId:
          type: string
        deviceId:
          type: string
        device:
          type: string
        app:
          type: string
        time:
          type: integer
          format: int64
    AsyncMonitorResponseDTO:
      type: object
      properties:
        id:
          type: string
        href:
          type: string
        retryAfter:
          type: integer
          format: int64
        _fc:
          type: boolean
    DbLibraryInvitationData:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        recipientEmail:
          type: string
          readOnly: true
        senderName:
          type: string
          readOnly: true
        created:
          type: string
          readOnly: true
        role:
          type: string
          readOnly: true
        canComment:
          type: boolean
          readOnly: true
        canShare:
          type: boolean
          readOnly: true
    JsonNode:
      type: object
      properties:
        array:
          type: boolean
        'null':
          type: boolean
        number:
          type: boolean
        int:
          type: boolean
        nodeType:
          type: string
          enum:
          - ARRAY
          - BINARY
          - BOOLEAN
          - MISSING
          - 'NULL'
          - NUMBER
          - OBJECT
          - POJO
          - STRING
        float:
          type: boolean
        binary:
          type: boolean
        short:
          type: boolean
        valueNode:
          type: boolean
        containerNode:
          type: boolean
        missingNode:
          type: boolean
        object:
          type: boolean
        pojo:
          type: boolean
        integralNumber:
          type: boolean
        floatingPointNumber:
          type: boolean
        long:
          type: boolean
        double:
          type: boolean
        bigDecimal:
          type: boolean
        bigInteger:
          type: boolean
        textual:
          type: boolean
        boolean:
          type: boolean
    DbLibraryElementRepresentationData:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        relationship:
          type: string
        path:
          type: string
        linkurl:
          type: string
        linktype:
          type: string
        is_full_size:
          type: boolean
        is_external_link:
          type: boolean
        width:
          type: integer
          format: int64
        height:
          type: integer
          format: int64
        content_length:
          type: integer
          format: int64
        name:
          type: string
        asset_id:
          type: string
        version:
          type: string
        md5:
          type: string
        _links:
          $ref: '#/components/schemas/MelvilleHypermediaRepresentationLinks'
        etag:
          type: string
        storage_href:
          type: string
        representation_order:
          type: integer
          format: int32
        is_preferred_thumbnail:
          type: boolean
        is_component:
          type: boolean
          readOnly: true
    DbLibraryCollaboratorData:
      type: object
      properties:
        email:
          type: string
          readOnly: true
        displayName:
          type: string
          readOnly: true
        collaborator:
          type: string
          readOnly: true
        role:
          type: string
          readOnly: true
        canComment:
          type: boolean
          readOnly: true
        canShare:
          type: boolean
          readOnly: true
    PostLibraryElementsPayload:
      type: object
      required:
      - client
      - name
      - type
      properties:
        id:
          type: string
          description: Ignored if submitted. The result will have a different ID.
        description:
          type: string
          description: Description of new element
        name:
          type: string
          description: Display name for new element
        type:
          type: string
          description: Element type
        client:
          description: Client identification information
          $ref: '#/components/schemas/ClientDeviceInfoPayload'
        representations:
          type: array
          description: Add or associate existing content to the new element
          items:
            $ref: '#/components/schemas/DbLibraryElementRepresentationData'
        sourceRef:
          type: string
          description: Reference other content as inspiration for this element
        source:
          description: Required if copying an element to this library.
          $ref: '#/components/schemas/ElementListPayload'
        self:
          description: Required if moving an element to this library.
          $ref: '#/components/schemas/ElementListPayload'
    EffectiveACL:
      type: object
      properties:
        _links:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Link'
        _fc:
          type: boolean
